body {
  margin: 0;
  background-color: #121212;
  font-family: 'Arial', sans-serif;
  color: white;
}

.container {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.match-card {
  background: #1e1e1e;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.footer button {
  background-color: #ffd700;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  color: #003366;
  font-size: 14px;
}

/* Прелоадер */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 100vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ffd700;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
